[Unit]
Description=DevOpsFetch Service

[Service]
ExecStart=/usr/bin/bash /home/ubuntu/devopsfetch.sh   # Modify path to devopsfetch.sh to reflect the location of the script
Restart=always
User=root

[Install]
WantedBy=multi-user.target
