[Unit]
Description=DevOpsFetch Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/bash /home/ubuntu/devopsfetch.sh   # Modify path to devopsfetch.sh to reflect the location of the script
Restart=once
User=root

[Install]
WantedBy=multi-user.target
